body {
    padding-top: 0;
    padding-bottom: 20px;
    height: 100%;
}
html{
    height:100%;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set code editors' styles */
div.editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div.editorContainer {
    position: relative;
    overflow: hidden;
}

#editorContainer {
    width: 100%;
    color: green;
}

#tree{
    font-family: monospace;
    font-size: 12px;
}