@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Scripts/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/jquery.splitter.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jstree/dist/jstree.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.splitter.js"></script>
</head>
<body>
    <div class="navbar-default" id="header">
        <span style="font-size: 24px; font-family: 'Century Gothic'; margin: 5px;">Il Generator</span>
        <button class="btn btn-default text-center" onclick="alert('TO DO =)');">
            Disassemble
        </button>
    </div>
    @using (Ajax.BeginForm("ResultCode", null, new AjaxOptions() { OnSuccess = "updateTree" }, 
        new
            {
                id = "inputForm"
            }))
    {
        <textarea name="sourceCode" style="display: none"></textarea>
    }
    <div id="content" style="height:100%;">
        <div id="editorContainer" class="editorContainer">
            <div id="editor" class="editor"></div>
        </div>
        <div id="treeContainer">
            <div id="tree"></div>
            <div id="resultEditorContainer" class="editorContainer">
                <div id="resultEditor" class="editor"></div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Editors.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var codeSplitter = $("#content").split({
            orientation: 'horizontal',
            limit: 100,
            onDrag: function (event) {
                editor.resize();
                resultEditor.resize();
            }
        })

        var infoSplitter = $("#treeContainer").split({
            orientation: 'vertical',
            limit: 100,
            onDrag: function (event) {
                resultEditor.resize();
            }
        })

        function updateTree(dataObject) {
            var warnings = dataObject.Warnings;
            var errors = dataObject.Errors;
            editor.getSession().setAnnotations(warnings.map(x => toAnnotation(x, "warning")));
            if (errors.length != 0) {
                $("#tree").html(errors.map(x => x.TextMessage).join("<br>"));
                editor.getSession().setAnnotations(errors.map(x => toAnnotation(x, "error")));
                resultEditor.setValue("");
            }
            else {
                createTree(dataObject);
            }
        }

        function toAnnotation(errorInfo, type) {
            return ({
                row: errorInfo.Row - 1,
                column: errorInfo.Column,
                text: errorInfo.HighlightMessage,
                type: type
            });
        }

        function createTree(dataObject) {
            $("#tree").jstree('destroy');
            var tree = $("#tree").jstree(
                {
                    'types': {
                        "field-instance": {
                            "icon": "/Content/IlIcons/field-instance.png"
                        },
                        "field-static": {
                            "icon": "/Content/IlIcons/field-static.png"
                        },
                        "property": {
                            "icon": "/Content/IlIcons/property.png"
                        },
                        "method-instance": {
                            "icon": "/Content/IlIcons/method-instance.png"
                        },
                        "method-instance-generic": {
                            "icon": "/Content/IlIcons/method-instance-generic.png"
                        },
                        "method-static": {
                            "icon": "/Content/IlIcons/method-static.png"
                        },
                        "method-static-generic": {
                            "icon": "/Content/IlIcons/method-static-generic.png"
                        },
                        "interface": {
                            "icon": "/Content/IlIcons/interface.png"
                        },
                        "interface-generic": {
                            "icon": "/Content/IlIcons/interface-generic.png"
                        },
                        "event": {
                            "icon": "/Content/IlIcons/event.png"
                        },
                        "class": {
                            "icon": "/Content/IlIcons/class.png"
                        },
                        "class-generic": {
                            "icon": "/Content/IlIcons/class-generic.png"
                        },
                        "struct": {
                            "icon": "/Content/IlIcons/struct.png"
                        },
                        "struct-generic": {
                            "icon": "/Content/IlIcons/struct-generic.png"
                        },
                        "enum": {
                            "icon": "/Content/IlIcons/enum.png"
                        },
                        "folder-field": {
                            "icon": "/Content/IlIcons/folder-field.png"
                        },
                        "folder-property": {
                            "icon": "/Content/IlIcons/folder-property.png"
                        },
                        "folder-event": {
                            "icon": "/Content/IlIcons/folder-event.png"
                        },
                        "folder-method": {
                            "icon": "/Content/IlIcons/folder-method.png"
                        }
                    },
                    'core': {
                        'multiple': false,
                        'data': jsonEncode(dataObject.Tree)
                    },
                    'plugins': ["types"]

                });
            tree.on('changed.jstree', function (e, data) {
                var curr = data.node;
                resultEditor.setValue(decode(curr.data));
                resultEditor.session.selection.clearSelection();
            });
            resultEditor.setValue("");
        }
    </script>
</body>
</html>