@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Scripts/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/jquery.splitter.css" />
    <link rel="stylesheet" href="~/Scripts/CodeMirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/Scripts/CodeMirror/theme/monokai.css" />
    <link rel="stylesheet" href="~/Scripts/CodeMirror/theme/ambiance-mobile.css" />
    <link rel="stylesheet" href="~/Scripts/CodeMirror/theme/ambiance.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Scripts/CodeMirror/addon/lint/lint.css" />
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script>
        var ERRORS = [];

    </script>
</head>
<body>
    <div class="navbar-default" id="header">
        <a href="" style="text-decoration: none"><span style="font-size: 24px; font-family: 'Century Gothic'; margin: 5px;">Il Generator</span></a>
        <button class="btn btn-default text-center" style="height: 30px; margin-bottom: 4px;" onclick="$('#inputForm').submit();">
            <span style="vertical-align: top">Disassemble</span>
        </button>
        <button class="btn topNavbarButton" id="fontLarger" onclick="changeFont(2)"></button>
        <button class="btn topNavbarButton" id="fontSmaller" onclick="changeFont(-2)"></button>
        <input type="number" min="1" max="48" value="12" id="fontSizeInput" />
    </div>
    @using (Ajax.BeginForm("ResultCode", null, new AjaxOptions() { OnSuccess = "updateResultInfo" },
        new
        {
            id = "inputForm"
        }))
    {

    }
    <div id="content">
        <div id="editorContainer" class="editorContainer">
            <div class="btn-group-vertical editorNavbar">
                <button class="editorButton tp-r" data-toggle="tooltip" title="Select all" id="editorSelectAllButton" onclick="editor.selectAll(); editor.focus()"></button>
                <button class="editorButton tp-r" data-toggle="tooltip" title="Copy all" id="editorCopyAllButton" data-clipboard-target="#sourceCode"></button>
                <button class="editorButton tp-r" data-toggle="tooltip" title="Clear all" id="editorClearAllButton" onclick="editor.setValue('');"></button>
                <button class="editorButton tp-r" data-toggle="tooltip" title="Undo" id="editorUndoButton" onclick="editor.undo()"></button>
                <button class="editorButton tp-r" data-toggle="tooltip" title="Redo" id="editorRedoButton" onclick="editor.redo()"></button>
            </div>
            <textarea id="editor" form="inputForm" name="sourceCode" style="display: none;">
using System;
					
public class Program
{
	public static void Main()
	{
		Console.WriteLine("Hello World");
	}
}
</textarea>
            <!--<div id="editor" class="editor scrollbar-inner"></div>-->
        </div>
        <div id="resultInfoContainer">
            <div id="tree" class="scrollbar-outer"></div>
            <div id="resultEditorContainer" class="editorContainer">
                <div id="resultEditorNavbar" class="btn-group-vertical editorNavbar">
                    <button class="editorButton btn-dark tp-r tp-dark" title="Select all" id="resultEditorSelectAllButton" onclick="resultEditor.selectAll(); resultEditor.focus()"></button>
                    <button class="editorButton btn-dark tp-r tp-dark" title="Copy all" id="resultEditorCopyAllButton" data-clipboard-target="#IlCode"></button>
                    <button class="editorButton btn-dark tp-r tp-dark" title="Clear all" id="resultEditorClearAllButton" onclick="resultEditor.setValue('');"></button>
                </div>
                <textarea id="resultEditor"></textarea>
            </div>
        </div>
    </div>

    <script src="~/Scripts/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/CodeMirror/lib/codemirror.js"></script>
    <script src="~/Scripts/CodeMirror/mode/clike/clike.js"></script>
    <script src="~/Scripts/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="~/Scripts/jstree/dist/jstree.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.splitter.js"></script>
    <script src="~/Scripts/Splitters.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/clipboard/clipboard.js"></script>
    <script src="~/Scripts/CodeMirror/addon/hint/jshint.js"></script>
    <script src="~/Scripts/CodeMirror/addon/lint/lint.js"></script>
    <script src="~/Scripts/CodeMirror/addon/lint/javascript-lint.js"></script>
    <script src="~/Scripts/Editors.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/EventHandlers.js" charset="utf-8"></script>
    <script src="~/Scripts/Tree.js" type="text/javascript" charset="utf-8"></script>
    <script>

    
        var font = 12;
        $(document).css('font-size', '12px');
        $('#content').height('100%');
        $('#tree').css('width', '50%');
        $('.topNavbarButton').mouseup(function () {
            $(this).blur();
        });
        function changeFont(mod) {
            font += mod;
            $('.CodeMirror').css('font-size', font + 'px');
            $('#tree').css('font-size', font + 'px');
            $('#fontSizeInput').val(font);
            editor.refresh();
            //resultEditor.refresh();
        }
        $('#fontSizeInput').change(function () {
            var newVal = $('#fontSizeInput').val();
            if (newVal >= 2 && newVal <= 48)
                changeFont($('#fontSizeInput').val() - font);
            else {
                $('#fontSizeInput').val(font);
            }
        });
        $('#fontSizeInput').keydown(function (e) {
            if (e.key == 'Enter') {
                $(this).blur();
            }
        });

        function CheckScrollbar() {
            if ($('.CodeMirror-lines').outerHeight() > $('.CodeMirror-scroll').height()) {
                $('.CodeMirror-scroll').css('overflow-y', 'auto');
            } else {
                $('.CodeMirror-scroll').css('overflow-y', 'hidden');
            }
        }
        $(window).resize(CheckScrollbar);
        var widgets = []
        function updateHints() {
            editor.operation(function () {
                for (var i = 0; i < widgets.length; ++i)
                    editor.removeLineWidget(widgets[i]);
                widgets.length = 0;

                JSHINT(editor.getValue());
                for (var i = 0; i < JSHINT.errors.length; ++i) {
                    var err = JSHINT.errors[i];
                    if (!err) continue;
                    var msg = document.createElement("div");
                    var icon = msg.appendChild(document.createElement("span"));
                    icon.innerHTML = "!!";
                    icon.className = "lint-error-icon";
                    msg.appendChild(document.createTextNode(err.reason));
                    msg.className = "lint-error";
                    widgets.push(editor.addLineWidget(err.line - 1, msg, { coverGutter: false, noHScroll: true }));
                }
            });
        }
    </script>
</body>
</html>