@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Scripts/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/jquery.splitter.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="navbar-default" id="header">
        <span style="font-size: 24px; font-family: 'Century Gothic'; margin: 5px;">Il Generator</span>
        <button class="btn btn-default text-center" onclick="alert('TO DO =)');">
            Disassemble
        </button>
    </div>
    @using (Ajax.BeginForm("ResultCode", null, new AjaxOptions() { OnSuccess = "updateTree" }, 
        new
            {
                id = "inputForm"
            }))
    {
        <textarea name="sourceCode" style="display: none"></textarea>
    }
    <div id="content" style="height:100%;">
        <div id="editorContainer" class="editorContainer">
            <div id="editor" class="editor"></div>
        </div>
        <div id="treeContainer">
            <div id="tree"></div>
            <div id="resultEditorContainer" class="editorContainer">
                <div id="resultEditor" class="editor"></div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jstree/dist/jstree.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.splitter.js"></script>
    <script src="~/Scripts/Editors.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/Splitters.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/Tree.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>